body{
    background-color: #ffffff;
    margin: 0;
}
nav{
    background-color: aliceblue;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 50%;
    box-shadow: 1px red;
}
.nav-logo{
    width: 50%;
    display: flex;
    justify-content:start;
}
.nav-logo span{
    display: inline;
    padding: 10px;
    font-weight: 900;
    color: rgb(1, 153, 173);
    font-size: large;
}
.nav-link-c{
    width: 50%;
    display: flex;
    justify-content: end;
}

.nav-link{
    display: inline;
    padding: 10px;
}
.nav-link a{
    text-decoration: none;
    color: rgb(2, 79, 43);
    font-weight: 600;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    flex-direction: column;
}
.color-panel{
    background-color: black;
    color: #ffffff;
    padding: 50px 30px;
    border-radius: 20px;
}
.btn-container{
    padding: 30px;
}

#btn-click{
    padding: 10px;
    border-radius: 5px;
    border: none;
}